<form class="example-form" style="width:800%;margin-left: -50%;text-align: left;">
  <div>
    <label style=" font-weight: normal;">ID Sistema ORCs</label>
  </div>
  <div>
    <input matInput value="0" style="background-color: #eaeaea;border-color:#eaeaea ;border: none;outline: none;box-shadow: none;">
  </div>
  <div>
    <label style=" font-weight: normal;margin-top: 10px;">Nombre Del Proyecto</label>
  </div>
  <div>
    <input matInput value="" style="    border: 1px solid #eaeaea;">
  </div>
  <div>
    <label style=" font-weight: normal;margin-top: 10px;">Objetivos a los que contribuye el proyecto</label>
  </div>
  <div>
    <input matInput value=""  style="    border: 1px solid #eaeaea;">
  </div>
  <div>
    <label for="fechaInicio" style=" font-weight: normal;margin-top: 10px;">Fecha de Inicio:</label>
  </div>
  <div>
    <input type="date" id="fechaInicio" name="fechaInicio" ngModel  style="    border: 1px solid #eaeaea;">

  </div>
  <div>
    <label for="fechaInicio" style=" font-weight: normal;margin-top: 10px;">Fecha fin:</label>
  </div>
  <div>
    <input type="date" id="fechaInicio" name="fechaInicio" ngModel  style="    border: 1px solid #eaeaea;">

  </div>
 <button class="boton" mat-flat-button style="background-color: #fec702;border-radius: 50px;margin-top: 40px;">Prioridad de proyecto</button>
</form>
