<form class="example-form">
    <label>ID Sistema ORCs</label>
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput value="0">
    </mat-form-field>
    <label>Nombre Del Proyecto</label>
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput value="0">
    </mat-form-field>

    <label>Objetivos a los que contribuye el proyecto</label>
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput value="0">
    </mat-form-field>

    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>

        </mat-grid-tile>


        <mat-grid-tile>

        </mat-grid-tile>
        
      </mat-grid-list>   
      <button class="boton" mat-flat-button>Prioridad de proyecto</button>

  </form>
