<form class="example-form" style="width: 490%;margin-left: -50%;text-align: left;">
  <div>
    <label>ID Sistema ORCs</label>
  </div>
  <div>
    <input matInput value="0">
  </div>
  <div>
    <label>Nombre Del Proyecto</label>
  </div>
  <div>
    <input matInput value="">
  </div>
  <div>
    <label>Objetivos a los que contribuye el proyecto</label>
  </div>
  <div>
    <input matInput value="">
  </div>
  <div>
    <label for="fechaInicio">Fecha de Inicio:</label>
  </div>
  <div>
    <input type="date" id="fechaInicio" name="fechaInicio" ngModel>

  </div>
  <div>
    <label for="fechaInicio">Fecha fin:</label>
  </div>
  <div>
    <input type="date" id="fechaInicio" name="fechaInicio" ngModel>

  </div>
 <button class="boton" mat-flat-button>Prioridad de proyecto</button>
</form>
