<!-- app.component.html -->
<h1 mat-dialog-title>Agrega etapa</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <label>Titulo de la iniciativa </label>
    <mat-form-field appearance="outline">
      <input matInput formControlName="titulo" />
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <label>Descripcion de la etapa</label>
    <mat-form-field appearance="outline">
      <textarea matInput formControlName="descripcion" ></textarea>
    </mat-form-field>
    <label>Entregable de la etapa</label>
    <mat-form-field appearance="outline">
      <input matInput formControlName="etapa" />
    </mat-form-field>
    <label>Fecha de Inicio</label>
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="inicio"  />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
  <button style="margin-left: 8px" mat-raised-button color="primary" (click)="addProduct()">
    Enviar
  </button>
</div>
