<mat-toolbar class="white-toolbar">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon color="orange">menu</mat-icon>
  </button>
  <img class="home" src="assets/img/home.svg">
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <img  class="foto" src="assets/img/foto.jpe">
  </button>
</mat-toolbar>
<mat-grid-list cols="4" style="margin-top: -5%;">
  <mat-grid-tile>
    <mat-tab-group>
      <img class="datos" src="assets/img/datos-generales.svg"><mat-tab label="DATOS"></mat-tab>
      <mat-tab label="PLAN"><img class="plan" src="assets/img/plandetrabajo.svg"></mat-tab>
    </mat-tab-group>
  </mat-grid-tile>
</mat-grid-list>


<mat-grid-list cols="2" rowHeight="" style="margin-top: -18%;">
  <mat-grid-tile>
    <app-form></app-form>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-form2></app-form2>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" style="margin-top: -15%;">
  <mat-grid-tile>
    <div>
      <label>Responsables del Proyecto</label>
      <br>
      <input placeholder="Agregar Responsables del proyecto"  style="border: 1px solid #eaeaea;width: 180%;border-radius: 5px;">
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <form >
      <mat-form-field>
        <mat-select name="admin" class="select" placeholder="Agregar Administrador" style="background-color: antiquewhite;width: 100%;" disableRipple>
          <mat-option value="Israel Ayala Vazque">Israel Ayala Vazque</mat-option>
          <mat-option value="Adrian Laurel Isidor">Adrian Laurel Isidor</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <label>Involucrados(opcional)</label>
      <br>
      <input placeholder="Agregar involucrados "  style="border: 1px solid #eaeaea;width: 180%;border-radius: 5px;">
    </div>
  </mat-grid-tile>
</mat-grid-list>


<app-icon-dialog></app-icon-dialog>





