
.example-spacer {
    flex: 1 1 auto;
  }

.white-toolbar {
    background-color: white;
    color: black;
    border-color: gray; 
    font-style: none;/* Esto asegura que el texto sea visible en el fondo blanco */
}

.menu{
    background-color: aquamarine;
    width: 3%;

}
.home{
    width: 3%;
}  
.foto{
    border-radius: 100%;
    width: 160%;
    height:40px;
}
.datos,.plan{
    width: 3%;
}

mat-select {
    border-radius: 5px;
    background-color: white;
    border-color: aqua;
}
/* En tu archivo styles.css o styles.scss */
::ng-deep .mat-select {
    border: none;
    background-color: transparent;
  }
  

  


