<mat-card>
  <mat-card-content>
    <div class="example-container" >
        <label>ID Proyecto</label>
        <div style="display: flex;">
          <input style="width: 50%;"
          matInput
          #input
          placeholder="Escribe le número de ID Proyectos Sipres"/>
          <button mat-flat-button style="background-color: #fec702;border-radius: 50px;margin-left: 20px;">Buscar Proyecto</button>
        </div>

    </div>
    <div style="margin-top: 5%;">
            <label>Nombre del Proyecto</label>
            <input matInput value="" style="background-color: #eaeaea;border-color:#eaeaea ;border: none;outline: none;box-shadow: none;border-radius: 5px;">
    </div>
    <div style="margin-top: 5%;">
      <label>Descripcion de Proyecto</label>
      <input matInput value="" style="background-color: #eaeaea;border-color:#eaeaea ;border: none;outline: none;box-shadow: none;border-radius: 5px;">
    </div>
    <div style="margin-top: 5%;">
      <div class="col-sm-4">
        <label>Fecha de Creacion</label>
        <input matInput value="dd/mm/aaaa" style="background-color: #eaeaea;border-color:#eaeaea ;border: none;outline: none;box-shadow: none;border-radius: 5px;">
      </div>
      <div class="col-sm-4">
        <label>Capex</label>
        <input matInput style="background-color: #eaeaea;border-color:#eaeaea ;border: none;outline: none;box-shadow: none;border-radius: 5px;" >
      </div>
      <div class="col-sm-4">
        <label>Opex</label>
        <input matInput style="background-color: #eaeaea;border-color:#eaeaea ;border: none;outline: none;box-shadow: none;border-radius: 5px;" >
      </div>
    </div>
<div style="margin-top: 10%;">
  <div  style="margin-top: 10%;">
    <label class="col-sm-6" style="margin-top: 3%;">Pilar Del Proyecto </label>
    <label class="col-sm-6" style="margin-top: 3%;">Clasificación Comite de Inversión</label>
  </div>
  <div>
      <div class="linea col-sm-5" style="margin-top: 10%;"></div>
      <div class="linea col-sm-6" style="margin-top: 10%;"></div>
  </div>
  
</div>
    
  </mat-card-content>
</mat-card>
